.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 100,
  'GRAD' -25,
  'opsz' 24;
}
a,p,div,span,ul,ol,li,table,tr,td,th,input,textarea,select{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
	text-decoration: none;
	&::selection{
		background: #c6b8ad;
	}
}
a{
	&:focus-visible{
		outline: #c6b8ad auto 1px;
		outline-offset: 1px;
	}
}
$weights: 100, 200, 300, 400, 500, 600, 700, 800, 900;
@each $weight in $weights {
  .oswald-#{$weight} {
	font-family: "Oswald", sans-serif;
	font-optical-sizing: auto;
	font-weight: $weight;
	font-style: normal;
	}
}
.container{
	max-width: 1440px !important;
	padding-left: 10px;
	padding-right: 10px;
	.row{
		margin-left: -10px;
		margin-right: -10px;
		.col{
			padding-left: 10px;
			padding-right: 10px;
		}
	}
}
.hamburger{ 
	display: none; 
	position: fixed; 
	top: 20px; 
	left: 5px; 
	cursor: pointer; 
	padding: 8px; 
	z-index: 75; 
	transition: ease-in-out .4s; 
	background: transparent; 
	border-radius: 8px;
	.hamburger-bar{ 
		display: block; 
		width: 38px; 
		height: 1px; 
		border-radius: 3px;
		opacity: 1; 
		transition: .4s; 
		background: #fff; 
		margin-bottom: 9px; 
		overflow: hidden; 
		position: relative; 
		&:nth-child(3){
			margin-bottom: 0; 
		}
	}
	&.open{ 
		.hamburger-bar{
			&:nth-child(1){ 
				transform: rotate(-45deg) translateY(4px) translateX(-6px); 
			}
			&:nth-child(2){ 
				transform: rotate(45deg) translateY(-2px) translateX(-2px); 
			}
		}
	}
	@media (max-width : 991px){ 
		display: block; 
		&.open~.header{ 
			opacity: 1; 
			pointer-events: all; 
			transition: .4s cubic-bezier(1, 0, .25, 1);
			width: 500px;
		} 
		&.open~.menu-overlay{ 
			pointer-events: all; 
			opacity: 1; 
		}
		&.open~.header-mobil{
			opacity: 0;
		} 
	}
	&.header-fixed{ 
		position: fixed; 
		transition: .4s; 
	}
	&.header-hidden{ 
		transform: translateY(-110px); 
	}
}/* hamburger end*/
.header-mobil{ 
	transition: .4s; 
	margin-left: 0; 
	display: none; 
	position: absolute; 
	top: 0; left: 0; 
	z-index: 51; 
	opacity: 1; 
	width: 100%; 
	.mobil-logo{
		position: relative;
		display: flex;
		justify-content: center;
		a{ 
			display: grid;
			place-items: center; 
			padding: 10px; 
			width: 200px; 
			height: 70px;
			position: relative; 
			color: #fff;
			img,svg{ 
				display: block; 
				max-width: 100%; 
			}
			.logo-text{
				opacity: 0;
				transition: .4s;
			}
			.logo-symbol{
				width: 143px;
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%,-50%);
				opacity: 1;
				transition: .4s;
			}
		}
	}
	.search-icon{
		position: absolute;
		right: 10px;
		top: 50%;
		transform: translateY(-50%);
		button{
			background: transparent;
			border: none;
			display: flex;
			align-items: center;
			color: #fff;
			transition: .4s;
			.material-symbols-outlined{
				font-size: 30px;
				transform: rotateY(180deg);
			}
		}
	}
	@media (max-width : 991px){ 
		display: block; 
	}
	&.header-fixed{ 
		position: fixed; 
		transition: .4s; 
		background: #000;
		.mobil-logo{
			a{
				.logo-text{
					opacity: 1;
				}
				.logo-symbol{
					opacity: 0;
				}
			}
		}
	}
	&.header-hidden{ 
		transform: translateY(-110px); 
	}
}/* header-mobil */
.menu-overlay{
	position: fixed;
	left: 0; top: 0; right: 0; bottom: 0;
	background: rgba(0,0,0,.9);
	z-index: 50;
	opacity: 0;
	pointer-events: none;
	transition: .4s;
	&.open{
		opacity: 1;
	}
	@media (max-width: 991px){
		&.open{
			opacity: 0;
		}
	}
}//menu-overlay
.header{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 53;
	transition: .4s;
	background: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	.row{
		align-items: center;
	}
	.logo{
		position: relative;
		a{
			display: flex;
			align-items: center;
			height: 50px;
			text-align: center;
			color: #fff;
			transition: .4s;
			img,svg{
				display: block;
			}
			.logo-1,.logo-2,.logo-3{
				transition: .4s;
			}
			.logo-1{
				fill: #2CA9AD;
			}
			.logo-2{
				fill: #2F4368;
			}
			.logo-3{
				fill: #2CA9AD;
			}
		}
	}
	.nav{
		ul{
			flex: 1 1 0;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			list-style-type: none;
			padding: 0;
			margin: 0;
			li{
				position: relative;
			}
		}
		a{
			display: block;
			line-height: 20px;
			font-size: 15px;
			padding: 40px 20px;
			font-weight: 300;
			color: #2F4368;
			transition: .4s;
			position: relative;
			z-index: 51;
			.sub-menu-arrow{
				display: none;
			}
			@media (max-width: 1400px){
				padding: 40px 10px;
				font-size: 14px;
			}
			@media (max-width: 1200px){
				padding: 40px 5px;
			}
		}
		.sub-menu{
			position: fixed;
			left: 0; top: 0; right: 0; 
			padding-top: 100px;
			display: flex;
			overflow: hidden;
			opacity: 0;
			pointer-events: none;
			transition: .4s;
			background: url(../images/sub-menu-bg.jpg) 0 100px no-repeat;
			&:before{
				content:"";
				position: absolute;
				left: 0;
				top: 0;
				right: 0;
				height: 100px;
				box-shadow: 0 0px 100px #ffffff00;
				pointer-events: none;
			}
			.container{
			}
			.menu-list{
				padding: 10%;
				ul{
					li{
						flex: 0 0 100%;
						a{
							font-family: "Forum", serif;
							padding: 10px;
							font-size: 20px;
							position: relative;
							&:after{
								content:"east";
								font-family: 'Material Symbols Outlined';
								font-weight: 200;
								font-style: normal;
								font-size: 30px;
								line-height: 1;
								letter-spacing: normal;
								text-transform: none;
								display: inline-block;
								white-space: nowrap;
								word-wrap: normal;
								direction: ltr;
								-webkit-font-feature-settings: 'liga';
								-webkit-font-smoothing: antialiased;
								margin-left: 10px;
								transform: translate(-20px,30px) rotate(-45deg);
								opacity: 0;
								transition: .4s;
								position: absolute;
								top: -5px;
							}
							&:hover{
								&:after{
									transform: translate(0,10px) rotate(-45deg);
									opacity: 1;
								}
							}
						}
					}
				}
			}
			.menu-img{
				width: calc(100vw/2);
				height: 100%;
				img{
					display: block;
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
			&.open{
				opacity: 1;
				pointer-events: all;
			}
		}
	}
	.support-line{
		display: flex;
		align-items: center;
		justify-content: flex-end;
		flex-wrap: wrap;
		gap: 20px;
		span{
			display: block;
			font-size: 19px;
			font-weight: 300;
			line-height: 1;
			color: #2CA9AD;
			transition: .4s;
		}
		a{
			display: block;
			font-size: 19px;
			font-weight: 700;
			line-height: 1;
			color: #2CA9AD;
			transition: .4s;
		}
	}
	&.header-index{
		position: fixed;
		//background: rgba(255, 255, 255, 0.0);
		//box-shadow: 0 0 0 rgba(0, 0, 0, 0);
		//.nav{
		//	a{
		//		color: #fff;
		//	}
		//}
		//.logo{
		//	a{
		//		.logo-1{
		//			fill: #fff;
		//		}
		//		.logo-2{
		//			fill: #fff;
		//		}
		//		.logo-3{
		//			fill: #fff;
		//		}
		//	}
		//}
		//.support-line{
		//	span{
		//		color: #fff;
		//	}
		//	a{
		//		color: #fff;
		//	}
		//}
	}
	&.header-fixed{
		background: rgba(255, 255, 255, 0.9);
		backdrop-filter: blur(5px);
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		.nav{
			a{
				color: #2F4368;
			}
		}
		.logo{
			a{
				.logo-1{
					fill: #2CA9AD;
				}
				.logo-2{
					fill: #2F4368;
				}
				.logo-3{
					fill: #2CA9AD;
				}
			}
		}
		.support-line{
			span{
				color: #2CA9AD;
			}
			a{
				color: #2CA9AD;
			}
		}
	}
	@media (max-width: 991px){
		right: 0;
		left: 0;
		width: 0px;
		overflow: hidden;
		background: url(../images/header-mobil-bg.jpg) #000 !important;
		height: 100%;
		overflow-y: auto;
		padding-bottom: 100px;
		transition: .4s cubic-bezier(1, 0, .25, 1);
		max-width: 100%;
		>.container{
			width: 500px;
			max-width: 100vw !important;
		}
		.row{
			flex-direction: column;
		}
		.logo{
			padding-top: 20px;
			a{
				justify-content: center;
			}
		}
		.nav{
			flex-direction: column !important;
			padding-top: 30px;
			ul{
				max-width: 100%;
				li{
					max-width: 100%;
					flex: 0 0 100%;
				}
			}
			a{
				font-size: 31px;
				line-height: 1.15;
				padding: 10px;
				text-align: center;
				position: relative;
				color: #fff;
				@media (max-width: 360px){
					font-size: 26px;
				}
			}
		}
		.support-line{
			padding: 20px 0;
			justify-content: center;
		}
		.nav{
			a{
				color: #fff !important;
			}
		}
		.logo{
			a{
				.logo-1{
					fill: #fff !important;
				}
				.logo-2{
					fill: #fff !important;
				}
				.logo-3{
					fill: #fff !important;
				}
			}
		}
		.support-line{
			span{
				color: #fff !important;
			}
			a{
				color: #fff !important;
			}
		}
	}
}//header
@keyframes northeast {
	0%{transform: translate(0px,0px);}
	10%{transform: translate(0px,0px);}
	45%{transform: translate(50px,-50px);opacity: 1;}
	46%{transform: translate(50px,-50px); opacity: 0;}
	47%{transform: translate(-50px,50px); opacity: 0;}
	48%{transform: translate(-50px,50px); opacity: 1;}
	70%{transform: translate(0px,0px);}
	100%{transform: translate(0px,0px);}
}
@keyframes southwest {
	0%{transform: translate(0px,0px);}
	10%{transform: translate(0px,0px);}
	45%{transform: translate(-50px,50px);opacity: 1;}
	46%{transform: translate(-50px,50px); opacity: 0;}
	47%{transform: translate(50px,-50px); opacity: 0;}
	48%{transform: translate(50px,-50px); opacity: 1;}
	70%{transform: translate(0px,0px);}
	100%{transform: translate(0px,0px);}
}
.swiper-button-prev,
.swiper-button-next{
	&:before,&:after{display: none}
	width: 54px;
	height: 54px;
	font-size: 15px;
	color: #fff;
	border: 1px solid #fff;
	overflow: hidden;
	outline: none;
	outline-color: transparent;
	svg{
		width: 17px;
		height: 17px;
	}
}//swiper-buttons
.swiper-button-prev{&:hover{svg{animation: southwest 1.5s ease-in-out infinite;}}}//swiper-button-prev
.swiper-button-next{&:hover{svg{animation: northeast 1.5s ease-in-out infinite;}}}//swiper-button-next
.head{
	h2{
		font-size: 50px;
		line-height: 1;
		font-weight: 700;
		color: #2CA9AD;
		position: relative;
		margin-bottom: 90px;
		&:before{
			content: "";
			position: absolute;
			left: 0%;
			bottom: -50px;
			width: 100px;
			height: 3px;
			background: #2CA9AD;
		}
		span{
			display: block;
			padding-top: 10px;
			color: #2F4368;
			font-weight: 300;
		}
		@media (max-width: 1200px){
			font-size: 40px;
		}
		@media (max-width: 992px){
			font-size: 36px;
		}
		@media (max-width: 768px){
			font-size: 32px;
		}
	}
}
p{
	display: block;
	font-size: 23px;
	font-weight: 300;
	line-height: 1.5;
	color: #000000;
	span{
		font-size: 37px;
		font-weight: 300;
		line-height: 1.25;
		color: #000000;
		margin-bottom: 10px;
	}
	@media (max-width: 1200px){
		font-size: 21px;
		span{
			font-size: 32px;
		}
	}
	@media (max-width: 992px){
		font-size: 19px;
		span{
			font-size: 26px;
		}
	}
}
.detail-btn{
	width: 220px;
	max-width: 100%;
	display: block;
	text-align: center;
	font-size: 21px;
	line-height: 1;
	padding: 16px;
	color: #000000;
	border: 1px solid #2CA9AD;
	transition: .4s;
	margin-top: 40px;
	margin-bottom: 0;
	&:hover{
		background: #2CA9AD;
		color: #fff;
	}
}
.bg-white{
	position: relative;
}
.t-center{
	text-align: center;
}
.main-slider{
	position: relative;
	.main-swiper{
		.swiper-slide{
			.img{
				height: 90vh;
				min-height: 700px;
				position: relative;
				>.container{
					position: absolute;
					left: 0;
					top: 0;
					right: 0;
					bottom: 0;
				}
				&:before{
					content:"";
					position: absolute;
					left: 0; top: 0; right: 0; bottom: 0;
					background: url(../images/main-slider-shadow.png) center center/cover no-repeat;
				}
				img{
					display: block;
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
				.text{
					position: absolute;
					left: 50%;
					width: 66%;
					top: 50%;
					transform: translateY(-50%) translateX(-50%);
					text-align: center;
					@media (max-width: 992px){
						width: 100%;
					}
					h1{
						font-size: 40px;
						font-weight: 700;
						line-height: 1.45;
						color: #fff;
						margin-bottom: 110px;
						position: relative;
						span{
							display: block;
							padding-top: 10px;
							font-weight: 300;
						}
						&:before{
							content:"";
							position: absolute;
							left: 50%;
							bottom: -55px;
							transform: translateX(-50%);
							width: 100px;
							height: 2px;
							background: #fff;
						}
					}
					p{
						font-size: 32px;
						line-height: 1.45;
						font-weight: 300;
						color: #fff;
						margin-bottom: 15px;
					}
					@media (max-width: 992px){
						h1{
							font-size: 32px;
						}
						p{
							font-size: 26px;
						}
					}
					@media (max-width: 768px){
						h1{
							font-size: 24px;
						}
						p{
							font-size: 18px;
						}
					}
				}
			}
		}
	}
	.main-slider-arrows{
		position: relative;
	}
	.swiper-button-prev,
	.swiper-button-next{
		left: 0px;
		top: auto;
		bottom: 80px;
		margin-top: 0;
	}
	.swiper-button-prev{
		left: 0px;
	}
	.swiper-button-next{
		left: 64px;
	}
}//main-slider
.operations{
	position: relative;
	z-index: 5;
	padding: 80px 0;
	overflow: hidden;
	.text-article{
		position: relative;
		height: 100%;
	}
	.arrows-right{
		height: 80px;
		position: relative;
		@media (max-width: 992px){
			margin-top: 100px;
			height: 20px;
		}
		.swiper-button-prev,
		.swiper-button-next{
			border-color: #2CA9AD;
			color: #2F4368;
			top: 0;
			margin-top: 0;
			left: auto;
		}
		.swiper-button-prev{
			top: -54px;
			left: 0;
		}
		.swiper-button-next{
			top: -54px;
			left: 64px;
		}
	}
	.operations-swiper{
		overflow: visible;
		.swiper-slide{
			a{display: block;}
			.product-card{
				position: relative;
				.img{
					position: relative;
					overflow: hidden;
					img{
						display: block;
						width: 100%;
						height: 100%;
						object-fit: cover;
						aspect-ratio: 1.5333 / 1;
						transition: .4s;
						transform: scale(1);
						filter: grayscale(1);
					}
				}
				.text{
					display: flex;
					justify-content: space-between;
					align-items: center;
					gap: 10px;
					height: 150px;
					background: #fff;
					transition: .4s;
					padding: 10px 50px;
					@media (max-width: 1200px){
						padding: 10px 30px;
					}
					@media (max-width: 992px){
						padding: 10px 15px;
					}
					.bot{
						p{
							font-size: 25px;
							font-weight: 300;
							color: #2F4368;
							line-height: 1.25;
							margin-bottom: 0;
							@media (max-width: 1200px){
								font-size: 23px;
							}
							@media (max-width: 992px){
								font-size: 21px;
							}
							@media (max-width: 768px){
								font-size: 18px;
							}
						}
					}
					.arrow{
						color: #2CA9AD;
						svg{
							transition: .4s;
							display: block;
							width: 33px;
							height: 33px;
						}
					}
				}
				&:hover{
					.img{
						img{
							transition: 1s;
							transform: scale(1.1);
							filter: grayscale(0);
						}
					}
					.text{
						background: #2CA9AD;
						.bot{
							p{ color: #fff; }
						}
						.arrow{
							color: #2F4368;
						}
					}
				}
			}
			&-active{
				.product-card{
					.img{
						img{
							transition: 1s;
							filter: grayscale(0);
						}
					}
					.text{
						background: #2CA9AD;
						.bot{
							p{ color: #fff; }
						}
						.arrow{
							color: #2F4368;
						}
					}
				}
			}
		}
	}
}//collection
.main-section-1{
	background: url(../images/section-2-mask.png) bottom center no-repeat #2F4368;
	padding-top:  130px;
	margin-top: -230px;
	margin-bottom: 252px;
	@media (max-width: 992px){
		margin-bottom: 17vw;
	}
	.img{
		position: relative;
		z-index: 12;
		pointer-events: none;
		height: 700px;
		margin-bottom: -230px;
		@media (max-width: 992px){
			height: 49vw;
			margin-bottom: -17vw;
		}
		img{
			display: block;
			max-width: 100%;
			height: auto;
			position: absolute;
			bottom: 0;
		}
	}
}//main-section-1
.main-section-2{
	position: relative;
	overflow: hidden;
	padding-bottom: 80px;
	.img{
		position: relative;
		@media (max-width: 992px){
			height: 60vw;
		}
		img{
			position: absolute;
			right: 0;
			display: block;
			max-width: calc(100% + 10px + ((100vw - 1440px)/2));
			height: auto;
			@media (max-width: 1440px){
				max-width: calc(100% + 10px);
			}
			@media (max-width: 992px){
				position: relative;
				width: 100%;
				height: 100%;
				max-width: 100%;
				object-fit: cover;
			}
		}
	}
	.text-article{
		height: 100%;
		display: flex;
		align-items: center;
		padding: 10px 0;
	}
	.line{
		display: block;
		width: 1px;
		background: #EDEDED;
		height: 100%;
		margin: 0 auto;
	}
}//main-section-2
.testimonials{
	background: #EDEDED;
	padding: 80px 0;
	.head{
		text-align: center;
		h2{
			&:before{
				left: 50%;
				transform: translateX(-50%);
			}
		}
	}
	.testimonials-slider{
		position: relative;
		.swiper-button-prev,
		.swiper-button-next{
			border-color: #2CA9AD;
			color: #2F4368;
			top: 0;
			margin-top: 0;
			left: auto;
		}
		@media (max-width: 992px){
			.swiper-button-prev{
				left: 0;
				top: -60px;
			}
			.swiper-button-next{
				right: 0;
				top: -60px;
			}
		}
	}
	.logos-slider{
		padding-top: 80px;
		.head{
			text-align: left;
			h2{
				font-size: 34px;
				font-weight: 400;
				color: #000;
				margin-bottom: 30px;
				&:before{
					display: none;
				}
			}
		}
		.logos-swiper{
			.swiper-slide{
				.img{
					height: 80px;
					display: flex;
					justify-content: center;
					align-items: center;
					padding: 10px;
					position: relative;
					img{
						display: block;
						max-width: 100%;
						height: auto;
					}
					span.note{
						display: block;
						background: #f1f1f100;
						padding: 5px;
						color: #2CA9AD;
						font-size: 14px;
						position: absolute;
						top: 0;
						left: 50%;
						transform: translateX(-50%);
					}
				}
			}
		}
	}
	.all-comments{
		display: flex;
		justify-content: center;
		padding-top: 20px;
		a{
			display: inline-block;
			padding: 10px 20px;
			font-size: 18px;
			color: #2CA9AD;
			border: 1px solid #2CA9AD;
		}
	}
}//testimonials
.testimonials-card{
	text-align: center;
	display: block;
	p{}
	.stars{
		justify-content: center;
		display: flex;
		gap: 5px;
		align-items: center;
		color: #2CA9AD;
		margin-bottom: 20px;
		svg{
			display: block;
		}
	}
	a{
		display: inline-block;
		padding: 10px 20px;
		color: #2CA9AD;
		font-size: 16px;
		border: 1px solid #2CA9AD;
	}
}//testimonials-card
.main-section-3{
	padding: 80px 0;
	.col{
		position: relative;
	}
	.text-set{
		background: #2CA9AD;
		padding: 50px 20px;
		@media (max-width: 992px){
			padding: 20px;
		}
		.row-align{
			align-items: center;
		}
	}
	.text-1{
		padding: 0 30px;
		@media (max-width: 992px){
			padding: 0;
		}
		h3{
			font-size: 35px;
			line-height: 1.1;
			color: #fff;
			font-weight: 700;
			margin-bottom: 10px;
		}
		p{
			font-size: 30px;
			line-height: 1.2;
			color: #fff;
			font-weight: 300;
		}
		@media (max-width: 1200px){
			h3{
				font-size: 30px;
			}
			p{
				font-size: 24px;
			}
		}
	}
	.text-2{
		p{
			font-size: 25px;
			line-height: 1.25;
			color: #fff;
			font-weight: 300px;
			margin-bottom: 30px;
			@media (max-width: 1200px){
				font-size: 20px;
			}
		}
		.detail-btn{
			width: 220px;
			height: 54px;
			background: #2CA9AD00;
			border: 1px solid #fff;
			font-size: 21px;
			color: #fff;
			line-height: 1;
			font-weight: 300;
			transition: .4s;
			span{}
			&:hover{
				background: #fff;
				color: #2CA9AD;
			}
		}
	}
	.text-3{
		display: block;
		position: relative;
		background: #2F4368;
		padding: 40px;
		height: 100%;
		@media (max-width: 992px){
			padding: 20px;
		}
		.icon{
			img{
				display: block;
				margin-left: auto;
				margin-right: 0;
			}
		}
		h3{
			font-size: 35px;
			line-height: 1.1;
			color: #fff;
			font-weight: 700;
			margin-bottom: 10px;
		}
		p{
			font-size: 30px;
			line-height: 1.2;
			color: #fff;
			font-weight: 300;
		}
		@media (max-width: 1200px){
			h3{
				font-size: 30px;
			}
			p{
				font-size: 24px;
			}
		}
		.arrow{
			position: absolute;
			bottom: 43px;
			right: 43px;
			color: #fff;
			transition: .4s;
			transform: translate(0,0);
			svg{
				display: block;
				margin-left: auto;
				margin-right: 0;
			}
		}
		&:hover{
			.arrow{
				transform: translate(20px,-20px);
			}
		}
	}
	.img{
		margin-top: 20px;
		position: relative;
		display: block;
		img{
			display: block;
			max-width: 100%;
			height: auto;
			@media (max-width: 768px){
				width: 100%;
			}
		}
		.name{
			display: block;
			position: absolute;
			right: 73px;
			bottom: 28px;
			color: #fff;
			transform: translate(0,0);
		}
		.arrow{
			position: absolute;
			bottom: 33px;
			right: 43px;
			color: #fff;
			transition: .4s;
			transform: translate(0,0);
			svg{
				display: block;
				width: 15px;
				height: 15px;
			}
		}
		&:hover{
			.arrow{
				transform: translate(20px,-20px);
			}
		}
	}
}//main-section-3
.medzone-banner{
	.img{
		img{
			display: block;
			max-width: 100%;
			height: auto;
		}
		@media (max-width: 992px){
			height: 400px;
			img{
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		@media (max-width: 480px){
			height: 320px;
		}
	}
}//medzone-banner
.page-banner{
	.img{
		background: #2F4368;
		height: 700px;
		@media (max-width: 992px){
			height: 500px;
		}
		img{
			display: block;
			width: 100% !important;
			height: 100% !important;
			object-fit: cover;
		}
	}
}//page-banner
.blog-banner{
	background: #2F4368;
	padding: 175px 0 125px;
	.head{
		h2{
			span{
				color: #fff;
			}
		}
	}
	.text-article{
		p{
			color: #fff;
			span{
				color: #fff;
			}
		}
	}
}//blog-banner
.blog-banner-img{
	img{
		display: block;
		width: 100%;
		height: auto;
	}
}//blog-banner-img
.page-section-1{
	padding: 100px 0;
	&.mt-setting{
		@media (max-width: 1200px){
			margin-top: -180px !important;
		}
		@media (max-width: 768px){
			margin-top: -100px !important;
		}
	}
	.bg-white{
		padding-top: 80px;
		box-shadow: 0 4px 44px rgba(0,0,0,.125);
		&.non-shadow{
			box-shadow: 0 0 0; 
		}
		&.pb-80{
			padding-bottom: 80px;
		}
		&.pt-0{
			padding-top: 0;
		}
	}
	.img-set{
		position: relative;
		margin-top: -300px;
		img{
			display: block;
			max-width: 100%;
			height: auto;
			margin: 0 auto;
		}
		.img-1{
			position: absolute;
			left: 0;
    		bottom: 27%;
			display: flex;
			align-items: flex-end;
		}
		.img-2{
			position: relative;
			margin: 0 auto;
			padding:0 20%;
		}
		.img-3{
			position: absolute;
			right: 0;
    		bottom: 27%;
			display: flex;
			align-items: flex-end;
		}
		@media (max-width: 992px){
			margin-top: -200px;
			.img-2{}
		}
		@media (max-width: 850px){
			margin-top: -200px;
			.img-1{
				top: calc(-190px + -10vw);
				max-width: 47%;
			}
			.img-2{
				margin-top: 10vw;
				margin-bottom: 40px;
				padding: 0 10%;
			}
			.img-3{
				max-width: 62%;
				top: calc(-140px + -10vw);
			}
		}
		@media (max-width: 360px){
			margin-top: -150px;
		}
	}
	.head.t-center{
		h2{
			&:before{
				left: 50%;
				transform: translateX(-50%);
			}
		}
	}
	.text-article{
		padding: 0 10px;
	}
	.img{
		margin-top: 80px;
		img{
			display: block;
			max-width: 100%;
			height: auto;
		}
	}
}//page-section-1
.blog-list{
	padding: 80px 0;
	.item{
		margin-bottom: 20px;
		display: block;
		.img{
			overflow: hidden;
			img{
				display: block;
				aspect-ratio: 580/378;
				transition: .4s;
			}
			@media (max-width: 992px){
				height: 400px;
				img{
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
			@media (max-width: 480px){
				height: 70vw;
				img{
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}
		.text{
			background: #EDEDED;
			padding: 10px 50px;
			display: flex;
			align-items: center;
			gap: 40px;
			justify-content: space-between;
			height: 150px;
			transition: .4s;
			@media (max-width: 1200px){
				padding: 10px 20px;
			}
			@media (max-width: 992px){
				padding: 20px;
				height: auto;
			}
			p{
				font-size: 25px;
				color: #2CA9AD;
				line-height: 1.25;
				font-weight: 300;
				transition: .4s;
			}
			.arrow{
				color: #2CA9AD;
				transition: .4s;
				svg{
					transition: .4s;
					display: block;
					width: 33px;
					height: 33px;
				}
			}
		}
		&:hover{
			.img{
				img{
					transform: scale(1.05);
				}
			}
			.text{
				background: #2CA9AD;
				p{
					color: #fff;
				}
				.arrow{
					color: #2F4368;
				}
			}
		}
	}
}//blog-list
.product-banner{
	background: #2CA9AD;
	padding-top: 150px;
	z-index: 3;
	position: relative;
	.img-set{
		position: relative;
		height: 100%;
		.img-1{
			position: absolute;
			bottom: -70px;
			max-width: 46%;
			img{
				display: block;
				max-width: 100%;
				height: auto;
				&+img{
					position: absolute;
					bottom: -100px;
				}
			}
		}
		.img-2{
			position: absolute;
			bottom: -70px;
			right: 0;
			max-width: 62%;
			img{
				display: block;
				max-width: 100%;
				height: auto;
				&+img{
					position: absolute;
					bottom: -100px;
				}
			}
		}
		@media (max-width: 992px){
			display: flex;
			align-items: flex-end;
			padding-bottom: 100px;
			.img-1{
				position: static;
				img{
					&+img{display:none;}
				}
			}
			.img-2{
				position: static;
				margin-left: -40px;
				img{
					&+img{display:none;}
				}
			}
		}
	}
	.text{
		.head{
			h2{
				color: #fff;
				font-size: 30px;
				&:before{
					background: #fff;
				}
				span{
					font-size: 25px;
					color: #fff;
				}
			}
		}
		.list{
			padding-bottom: 40px;
			li{
				list-style-type: none;
				color: #fff;
				padding: 5px 10px 5px 25px;
				background: url(../images/arrow-right-white.svg) left center no-repeat;
			}
		}
	}
}//product-banner
.product-logos{
	background: #F5F5F5;
	padding: 160px 0 70px;
	@media (max-width: 992px){
		padding: 60px 0;
	}
	.logo-set{
		display: flex;
		justify-content: center;
		img{
			display: block;
			max-width: 100%;
			height: auto;
		}
	}
}//product-logos
.product-section-1{
	.img{
		img{
			display: block;
			max-width: 100%;
			height: auto;
		}
	}
	.text{
		padding: 80px 8.333%;
		margin-top: -160px;
		margin-bottom: 80px;
		background: #fff;
		box-shadow: 0 4px 44px rgba(0,0,0,.125);
		position: relative;
		z-index: 8;
		@media (max-width: 992px){
			padding: 20px;
			margin-top: -9vw;
		}
	}
}//product-section-1
.documents-section{
	padding-bottom: 80px;
	.item{
		box-shadow: 0 4px 44px rgba(0,0,0,.125);
		background: #fff;
		height: 100%;
		.img{
			border-bottom: 1px solid #EDEDED;
			height: 238px;
			display: grid;
			place-items: center;
			img{
				display: block;
				max-width: 100%;
				height: 120px;
				margin: 0 auto;
			}
		}
		.text-article{
			padding: 40px;
			text-align: center;
		}
	}
	.pdf-item{
		margin-top: 80px;
		.item{
			display: block;
			position: relative;
			transition: .4s;
			img{
				display: block;
				max-width: 100%;
				height: auto;
			}
			.icon{
				background: #fff;
				position: absolute;
				right: 0;
				bottom: 30px;
				width: 100px;
				height: 100px;
				//display: grid;
				display: none;
				place-items: center;
				box-shadow: 0 4px 44px rgba(0,0,0,.125);
				@media (max-width: 768px){
					width: 50px;
					height: 50px;
					padding: 10px;
					bottom: 0px;
				}
			}
		}
	}
}//document-section
.contact-info{
	padding: 80px 0 40px;
	.item{
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		color: #000000;
		padding-bottom: 40px;
		.icon{
			display: block;
			margin-bottom: 20px;
			@media (max-width: 992px){
				margin-bottom: 10px;
			}
			img{
				display: block;
			}
		}
		span{
			display: block;
			color: #000000;
		}
	}
}//contact-info
.map{
	height: 850px;
	iframe{
		width: 100%;
		height: 100%;
		border: none;
	}
}//map
.footer{
	background: url(../images/footer-vektor.png) bottom center no-repeat #2CA9AD;
	padding: 80px 0;
	.logo{
		display: flex;
		justify-content: center;
		margin-bottom: 40px;
		a{
			display: block;
			padding: 0 20px;
			img{
				max-width: 100%;
				height: auto;
			}
		}
	}
	h6{
		font-size: 25px;
		line-height: 1;
		color: #fff;
		font-weight: 700;
		margin-bottom: 47px;
		text-align: center;
		span{
			font-weight: 300;
		}
	}
	p{
		font-size: 23px;
		line-height: 1.25;
		color: #fff;
		font-weight: 300;
		margin-bottom: 40px;
		text-align: center;
	}
	.foot-menu{
		display: flex;
		flex-wrap: wrap;
		gap: 30px;
		align-items: center;
		justify-content: center;
		margin-bottom: 100px;
		a{
			display: block;
			font-size: 15px;
			line-height: 1;
			color: #fff;
			font-weight: 300;
		}
	}
	.signature{
		display: flex;
		justify-content: center;
		a{
			display: block;
			.img{
				margin-bottom: 12px;
				img{
					display: block;
					max-width: 100%;
					height: auto;
					margin: 0 auto;
				}
			}
			span{
				display: block;
				font-size: 15px;
				line-height: 1;
				color: #fff;
				font-weight: 300;
			}
		}
	}
}//footer